
body {background-color: lightyellow;
     color: saddlebrown;
     font-family: papyrus, serif;
     font-weight: bolder;}


button {
  font-size: 1.5em;
  margin: 5px;
  background-color: gold;
  border-radius: 5px;

}












